header {
  // carousel
  .main-carousel {
    // margin top and bottom, while centering carousel
    margin: 50px auto;
    width: 75%;
    min-height: 50vh;

    .carousel-cell {
      width: 100%;
      min-height: 50vh;
    }
  }
  // end of carousel
}
