// Google fonts imports

// font-family: 'Playfair Display', serif;
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&display=swap");

// font-family: 'Open Sans', sans-serif;
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i&display=swap");

// font-family: 'Great Vibes', cursive;
@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");

// setting font size
html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

body {
  @include fontSize(10);
}

h1 {
  font-size: 3.6rem;
}

h2,
span {
  font-size: 4.8rem;
  font-weight: 500;
  font-family: "Great Vibes", cursive;
}

span {
  color: $primaryOrange;
  text-transform: capitalize;
}

h3 {
  font-size: 1rem;
}

a {
  @include fontSize(14);
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

footer {
  font-family: "Cabin", sans-serif;
}

// wrapper styles
.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

// stripping anchor tag default styling
a {
  text-decoration: none;
}

// stripping ul default styling
ul {
  list-style: none;
}

// stripping default margin/padding
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

// image taking up 100% width
img {
  width: 100%;
  object-fit: cover;
  // display: block;
}

// uppercase
a {
  text-transform: uppercase;
}

// button styles
button {
  @include fontSize(16);
  margin-top: 50px;
  padding: 20px 80px;
  background-color: $primaryOrange;
  border: none;
  outline: none;
  color: $primaryWhite;
}
