header {
  background: url(../styles/images/baked-cassaro.jpeg) no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  .header-content {
    @include flexCenter;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;

    div.main-text {
      width: 65%;
    }
  }
}
