section.bootcamp {
  background-color: $primaryWhite;
  min-height: 100vh;
  @include flexCenter;
  text-align: center;

  // info
  p {
    @include fontSize(22);
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }

  // date
  h3 {
    // font styles
    @include fontSize(24);
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 700;
    text-transform: capitalize;
  }

  // carousel
  .main-carousel {
    // margin top and bottom, while centering carousel
    margin: 50px auto;
    width: 75%;
    min-height: 50vh;

    .carousel-cell {
      width: 100%;
      min-height: 50vh;
    }
  }

  // buttons styling
  .flickity-button {
    background: $primaryWhite;
    transition: background-color 500ms;
  }

  .flickity-button:hover {
    background: $primaryHoverRed;
  }

  .flickity-prev-next-button {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  // icon color
  .flickity-button-icon {
    fill: $primaryBlack;
  }
  // position outside
  .flickity-prev-next-button.previous {
    left: -140px;
  }
  .flickity-prev-next-button.next {
    right: -140px;
  }
  // end of carousel
}
