header {
  // general padding
  padding: 30px 0;

  .flexContainer {
    display: flex;
    align-items: center;
    
    div.logo {
      flex: 1 auto;
      padding-bottom: 5px;
      // logo button that refreshes the page
      button.refresh {
        // font style
        @include fontSize(34);
        font-family: "Playfair Display", serif;
        font-weight: 700;
        text-transform: none;
        background-color: $primaryPureWhite;
        color: $primaryBlack;
        display: block;
      }
    }
    
    nav.menu {
      transition: display 500ms;
      ul.nav {
        display: flex;
        li {
         
          a {
            display: block;
            color: $primaryBlack;
            font-weight: 700;
            padding: 16px;
            // transition
            transition: color 500ms;
          }
          
          // anchor tag on focus
          a:hover {
            color: $primaryHoverBlack;
          }
        }
      }
    }
    // end of nav
  }
  // end of flex-container
  
}
// end of header

// toggleClass toggles for hamburger menus, and logo icon
.hamburger,
.image-switch {
  display: none;
};