// min-widths RED
// Desktop to larger screens

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1450px) and (-webkit-min-device-pixel-ratio: 1) {
  section.hero {
    // pushes down text box
    padding-top: 13vw;

    // block of text with white background
    article {
      background-color: $primaryWhite;
      padding: 4.5vw;
      // hard width
      width: 60%;

      h2 {
        font-size: 4vw;
        padding-bottom: 1vw;
      }

      p {
        font-size: 2vw;
        line-height: 2.5vw;
      }
    }
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1450px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .wrapper {
    max-width: 90vw;
    width: 90%;
  }

  section.hero {
    // pushes down text box
    padding-top: 13vw;

    // block of text with white background
    article {
      background-color: $primaryWhite;
      padding: 4.5vw;
      // hard width
      width: 60%;

      h2 {
        font-size: 4vw;
        padding-bottom: 1vw;
      }

      p {
        font-size: 2vw;
        line-height: 2.5vw;
      }
    }
  }
}
